_shoesindex

body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #39393A;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.social {
  list-style-type: none;
  display: flex;
}

.banner {
  height:300px;
  width: 100%;
}
