// Specific CSS for your home-page
html{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #F6F6F6;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  position: relative;
}

// MENU BURGER======================================================MENU BURGER
// #menuToggle
// {
//   display: block;
//   position: absolute;
//   top: 75px;
//   left: 50px;

//   z-index: 1;

//   -webkit-user-select: none;
//   user-select: none;
// }

// #menuToggle a
// {
//   text-decoration: none;
//   color: #39393A;

//   transition: color 0.3s ease;
// }

// #menuToggle a:hover
// {
//   color: brown;
// }


// #menuToggle input
// {
//   display: block;
//   width: 40px;
//   height: 32px;
//   position: absolute;
//   top: -7px;
//   left: -5px;

//   cursor: pointer;

//   opacity: 0; /* hide this */
//   z-index: 2; /* and place it over the hamburger */

//   -webkit-touch-callout: none;
// }


// #menuToggle span
// {
//   display: block;
//   width: 33px;
//   height: 4px;
//   margin-bottom: 5px;
//   position: relative;

//   background: #cdcdcd;
//   border-radius: 3px;

//   z-index: 1;

//   transform-origin: 4px 0px;

//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
//               opacity 0.55s ease;
// }

// #menuToggle span:first-child
// {
//   transform-origin: 0% 0%;
// }

// #menuToggle span:nth-last-child(2)
// {
//   transform-origin: 0% 100%;
// }

// /*
//  * Transform all the slices of hamburger
//  * into a crossmark.
//  */
// #menuToggle input:checked ~ span
// {
//   opacity: 1;
//   transform: rotate(45deg) translate(-2px, -1px);
//   background: #39393A;
// }

// /*
//  * But let's hide the middle one.
//  */
// #menuToggle input:checked ~ span:nth-last-child(3)
// {
//   opacity: 0;
//   transform: rotate(0deg) scale(0.2, 0.2);
// }

// /*
//  * Ohyeah and the last one should go the other direction
//  */
// #menuToggle input:checked ~ span:nth-last-child(2)
// {
//   transform: rotate(-45deg) translate(0, -1px);
// }

// /*
//  * Make this absolute positioned
//  * at the top left of the screen
//  */
// #menu
// {
//   position: absolute;
//   width: 300px;
//   margin: -100px 0 0 -50px;
//   padding: 50px;
//   padding-top: 125px;

//   background: #ededed;
//   list-style-type: none;
//   -webkit-font-smoothing: antialiased;
//   /* to stop flickering of text in safari */

//   transform-origin: 0% 0%;
//   transform: translate(-100%, 0);

//   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
// }

// #menu li
// {
//   padding: 10px 0;
//   font-size: 22px;
// }

// /*
//  * And let's slide it in from the left
//  */
// #menuToggle input:checked ~ ul
// {
//   transform: none;
// }

.navbar-lewagon {
  justify-content: space-between;
  position:absolute;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: none;
  color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  text-align: center;
}

// #main-navbar {
//   text-color: white;
//   font-size: 16px;
//   display: flex;
//   list-style-type: none;
//   flex-flow: row wrap;
//   justify-content: flex-end;
//   // padding-right: 10px;
//   position: relative;
// }

.shoes-banner {
  background-size: cover;
  background-position: center;
  height: 740px;
  text-align: center;
  padding: 20px;
  background-color: #39393A;
  max-width: 100%
}

.shoes-banner-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

#banner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.artist-card {
  color: #FFD700;
  border-color: #FFD700;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: black;
  margin-top:30px;
  height:150px;
  width:150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%
}

.artist-card:hover {
  opacity:0.8;
  color: #FFD700;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.banner h1 {
  margin: 0;
  color: #FFD802;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
  // -webkit-text-stroke: 0.1px #FFD802;
  // border-color: white;
  text-shadow:
         3px 3px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 80;
  font-weight: lighter;
}

.btn-ghost {
  // background-color: #FFD700;
  color: black;
  // padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  // margin-top: 240px;
  font-weight: bold;
  position: absolute;
  bottom: 0;

}

.btn-ghost:hover {
  opacity: 0.8;
  color: #FFD700;
}



.btn-shoes-banner:hover {
  color: #FFD700;
  opacity: 0.5;
}

.btn-shoes-banner {
  color: #FFD700;
  border: 1px solid #FFD700;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-bottom: 20px;
}

.shoes-banner-title {
  margin: 50px;
}

// SLIDER=======================================================SLIDER
#slider {
    width: 90%
}
#slider li {
    width: 33%;
}

/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
  margin: 0 auto 20px;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 10px;
   /*box-shadow: inset 0 0 10px #888;*/
}

/* Panel Wrapper */
.mb-slider, .mb-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;

  /***(>'-')> Control Panel Font size here <('-'<)***/
  font-size: 16px;
}

/* active slider border highlight */
.mb-active-slider {
  border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {
  margin: 0;
  /* padding: 20px; */
  display: block;
  cursor: pointer;
  float: left;
  list-style: none;
}

/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */
.mb-slider .mb-panel.current {
  cursor: auto;
}

/*** Inside the panel ***/
.mb-inside {
  padding-right: 10px;
  padding-left: 10px;
  /*border: 1px solid #999;*/
}

.mb-inside * {
  max-width: 100%;
  padding: 5px;
}


/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
  display: block;
  width: 25px;
  max-width: 100%;
  height: 25px;
  background: #FFD700;
  position: absolute;
  top: 50%;
  margin-top: -29px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
  opacity: 0.6;
  // border-radius: 100%
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%
}
a.mb-scrollButtons.mb-left {
  background-position: left top;
  left: -45px;
  max-width: 100%;
  // background: url(../images/left-arrow.png) no-repeat;
}
a.mb-scrollButtons.mb-right {
  background-position: right top;
  right: -45px;
  // background: url(..assets/images/right-arrow.png) no-repeat;

}
a.mb-scrollButtons.mb-left:hover {
  background-position: left bottom;
}
a.mb-scrollButtons.mb-right:hover {
  background-position: right bottom;
}
a.mb-scrollButtons.disabled {
  display: none;
}

/*** Controls added below the panels ***/
.mb-controls {
  margin: 0 auto;
  text-align: center;
  background: #39393A;
  position: relative;
  z-index: 100;
}
.mb-controls a {
  color: #666;
  font: 18px/2.2 Georgia, Serif;
  display: inline-block;
  text-decoration: none;
  padding: 2px;
  margin: 0 5px 0 0;
  text-align: center;
  outline: 0;
}
.mb-controls a:hover {
  color: black;
}
.mb-controls a.current {
  color: white;
}
.mb-active-slider .mb-controls {
  background: #39393A;
}
/* threedee */
.csstransforms {
  #slider li {
    perspective: 50em;
  }
  .mb-inside {
    transition: -webkit-transform .6s ease, opacity .6s ease;
  }
  .pv .mb-inside {
    -webkit-transform: rotateY(45deg);
  }
  .nx .mb-inside {
    -webkit-transform: rotateY(-45deg);
  }
  .pv2 .mb-inside {
    -webkit-transform: rotateY(90deg);
    opacity: 0
  }
  .nx2 .mb-inside {
    -webkit-transform: rotateY(-90deg);
    opacity: 0
  }
  .pv .mb-inside,w
  .nx .mb-inside {
    opacity: .6
  }
  .pv2 .mb-inside,
  .nx2 .mb-inside {
    opacity: 0
  }
  .pv2, .nx2 {
    pointer-events: none;
  }
  .mb-panel {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%)
  }
  li h2, li p {
    display: none;
  }
  .mb-panel.cu {
    z-index: 99;
  }
}
// SLIDER=======================================================SLIDER
