<head>
  <title>OSSICLE 👟</title>
</head>
<body>

  <div class="banner" style="background-image: url(https://cdn.dribbble.com/users/1166176/screenshots/5887338/800x600.gif?vid=1);">
    <div class="container">
      <h1>One shoe project</h1>
      <p>Walk, run, design it</p>
      <div>
        <a class="btn artist-card">We are all artists</a>
      </div>
      <div>
        <a class="btn btn-ghost" href="#">Go down ↓</a>
      </div>
    </div>
  </div>

    <div class="shoes-banner">
      <div>
        <h1 class="shoes-banner-title">More shoes projects</h1>
      </div>
      <div>
        <ul id="slider">
          <li>
              <img src="https://lojavans.vteximg.com.br/arquivos/ids/263570-1000-1000/Z5IV2H-2DHERO.jpg?v=637003518056970000" alt="picture" />
              <h2>Vans Glitter Authentic</h2>
              <p>A very short exerpt goes here... <a href="http://flickr.com/photos/justbcuz/112479862/">more</a></p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/2.jpg" alt="picture" />
              <h2>Alice News Heading</h2>
              <p>A very short exerpt goes here... <a href="http://flickr.com/photos/joshuacraig/2698975899/">more</a> and a whole lot more text goes here, so we can see the height adjust.</p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/3.jpg" alt="picture" />
              <h2>Yin News Heading</h2>
              <p>A very short exerpt goes here... <a href="http://flickr.com/photos/ruudvanleeuwen/468309897/">more</a></p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/4.jpg" alt="picture" />
              <h2>Gerri News Heading</h2>
              <p>A very short exerpt goes here... <a href="http://flickr.com/photos/emikohime/294092478/">more</a></p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/5.jpg" alt="picture" />
              <h2>Tabitha News Heading</h2>
              <p>A very short exerpt goes here... <a href="http://www.flickr.com/photos/fensterbme/499006584/">more</a></p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/6.jpg" alt="picture" />
              <h2>Mary News Heading</h2>
              <p>A very short exerpt goes here... <a href="#">more</a></p>
          </li>

          <li>
              <img src="https://css-tricks.github.com/MovingBoxes/demo/7.jpg" alt="picture" />
              <h2>Kitty News Heading</h2>
              <p>A very short exerpt goes here... <a href="#">more</a></p>
          </li>
        </ul>
      </div>
      <div>
        <a class="btn btn-shoes-banner" href="#">Check it out</a>
      </div>
  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This are the shoes of the site 👟.
    </div>
  </div>
</body>
