<head>
  <title>OSSICLE 👟</title>
</head>

<body>
  <h1>OSSICLE SHOES PROJECT</h1>


  <nav role="navigation">
    <div id="menuToggle">

      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>


      <ul id="menu">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>Shoes</li></a>
        <a href="#"><li>Contact</li></a>
        <a href="#"><li>Profile</li></a>
        <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
      </ul>
    </div>
  </nav>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1512374382149-233c42b6a83b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
    <div class="container">
      <h1>One shoe project</h1>
      <p>Walk, run, design it</p>
      <a class="btn btn-ghost" href="#">Go down ↓</a>
    </div>
  </div>

    <div class="shoes-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/48759/screenshots/5457990/eocc7e9y9enbhfq1nqtt_4x.jpg);">
      <div class="container">
        <h1>More shoes projects</h1>
        <a class="btn btn-shoes-banner" href="#">Check it out</a>
      </div>
  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This are the shoes of the site 👟.
    </div>
  </div>
</body>
