// Import page-specific CSS files here.

body {

background-color: rgb(245,245,245)
}


.social ul {
  list-style: none;
  text-align: right;
  background-color: rgba(240,240,240, .5)
}

.social ul li {
  display: inline-block;
}
