@import "new";

body
{
  margin: 0;
  padding: 0;
  background: #F6F6F6;
  /* make it look decent enough */
  background: #F6F6F6;
  color: #FFD700;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.social {
  list-style-type: none;
  display: flex;
}

.inside-banner {
  height: 200px;
  width: 100%;
  background-image: url(https://i.pinimg.com/originals/6b/7c/72/6b7c72de8c9fdb5bbeb5feca23fcc74e.gif);
  // opacity: 0.6;
  text-align: center;
  color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position:100%;
  font-weight: bold;
}

.shoes-cards {
  color: #39393A ;
  border-radius: 10px;
  border: 3px solid #F6F6F6;
  background-color: #F6F6F6;
  margin: 15px;
  box-shadow: 2px 2px 3px grey;
}

.btn-shoes-cards {
  border: 3px solid #F6F6F6;
  padding: 8px 14px;
  width: 150px;
  background-color: #FFD700;
  border-radius: 50px;
  transition: opacity 0.3s ease;
  color: black;
}

.card-img-top {
  width: 310px;
  height:220px

}

.btn-shoes-cards:hover {
  opacity: 0.8;
  text-decoration: none !important;
}

.social {
  color: lightblue;
}

.row {
  margin-top: 50px;
}

// test=====

// .masonry { /* Masonry container */
//   column-count: 4;
//   column-gap: 1em;
// }

// // .masonry {
// //   margin: 1.5em auto;
// //   max-width: 768px;
// //   column-gap: 1.5em;
// // }

// /* The Masonry Brick */
// .item {
//   background: #fff;
//   padding: 1em;
//   margin: 0 0 1.5em;
// }

// /* Masonry on large screens */
// @media only screen and (min-width: 1024px) {
//   .masonry {
//     column-count: 4;
//   }
// }

// /* Masonry on medium-sized screens */
// @media only screen and (max-width: 1023px) and (min-width: 768px) {
//   .masonry {
//     column-count: 3;
//   }
// }

// /* Masonry on small screens */
// @media only screen and (max-width: 767px) and (min-width: 540px) {
//   .masonry {
//     column-count: 2;
//   }
// }

// .item { /* Masonry bricks or child elements */
//   background-color: #eee;
//   display: inline-block;
//   margin: 0 0 1em;
//   width: 100%;
// }
