
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 50%;
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-shoes-pop-up {
  color: black;
  background: #FFD700;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 140px;
  margin: 25px;
  position: absolute;
  animation: spin 0.5s;
  animation-iteration-count: infinite;
}

.btn-shoes-pop-up:hover {
  background: #FFD700;
  text-decoration: none;
  color: black;
  // border: 1px solid #FFD700;
  animation: none;
  // animation-iteration-count: infinite;

}

@keyframes spin {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-100deg); }
  20% { transform: translate(-3px, 0px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(-100deg); }
  40% { transform: translate(1px, -1px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-100deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-100deg); }
  80% { transform: translate(-1px, -1px) rotate(0deg); }
  90% { transform: translate(1px, 2px) rotate(-100deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.attributes {
  color: white;
  display: inline;
  list-style: none;
  padding: 25px;
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Images used */
.img1 {
  background-image: url("https://cdn.dribbble.com/users/2643208/screenshots/6809225/solar_system_2.gif");
  display: flex;
  text-align: left;
  justify-content: left;
}
.img2 { background-image: url("https://cdn.dribbble.com/users/89889/screenshots/6066977/basicincome-timokuilder-dribbble.jpg"); }
.img3 { background-image: url("https://cdn.dribbble.com/users/902546/screenshots/6299865/artboard_1_copy_2x2.png");}
.img4 { background-image: url("https://cdn.dribbble.com/users/637758/screenshots/5437439/keyboard_1600_.png"); }
.img5 { background-image: url("https://cdn.dribbble.com/users/371094/screenshots/6211063/someethingelse_copy.jpg"); }
.img6 { background-image: url("https://cdn.dribbble.com/users/236204/screenshots/3928889/lunar_wireless_scene_11.gif"); }

/* Position text in the middle of the page/image */
.bg-text {
  color: white;
  font-weight: bold;
  font-size: 80px;
}


#mydiv {
  position: absolute !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  padding: 20px;
  text-align: center;
}

#mydivheader {
  // padding: 10px;
  cursor: pointer;
  // z-index: 10;
  // background-color: #2196F3;
  color: #FFD700
}

// test===================================================popup


.box {
  margin: 0 auto;
  padding: 35px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  height: auto;
  width: 85%;
  position: relative;
  z-index: 10;
  // transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  // overflow: auto;
}

.check-shoes {
  text-align: center;
  padding: 125px;
  height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text_container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border: 10px solid #f1f1f1;
  position: absolute; /* 'fixed' to Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  height:400px;
  padding: 20px;
  text-align: center;
}



// @media screen and (max-width: 700px){
//   .box{
//     width: 70%;
//   }
//   .popup{
//     width: 70%;
//   }
// }
