<h1>Editing Moodboard Attachment</h1>

<%= render 'form', moodboard_attachment: @moodboard_attachment %>

<%= link_to 'Show', @moodboard_attachment %> |
<%= link_to 'Back', moodboard_attachments_path %>
