#registration-background {
  margin: 20px;
  background-image: url("https://www.countryoutfitter.com/dw/image/v2/BBCT_PRD/on/demandware.static/-/Sites-master-product-catalog-shp/default/dwfc9d2018/images/607/2000224607_900_BM.JPG?sw=980&sh=980&sm=fit");
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 350px;
  margin-left: 75px;
}
