.user-form-container {
  display: block;
  margin: 10px auto;
  padding: 5px 5px;
  max-width: 400px;
  border-radius: 5px;
  background-color: #39393a;
  padding: 20px;
}

.user-form-container .btn {
  border-radius: 10px;
  background-color: #FFD700;
}
