
.user-form-wrapper {
  height: 100vh;
  display: block;
  text-align: center;
  margin: auto;
  }

.user-form-wrapper h1 {
  font-weight: 800;
  color: #39393a;
  margin-bottom: 30px;
  margin-top: 50px;
}

.user-form-container {
  display: block;
  margin: 0 auto;
  padding: 40px 40px;
  width: 70%;
  border-radius: 10px;
  background-color: #39393a;
}

.user-form-container .btn {
  border-radius: 50px;
  background-color: #FFD700;
  margin-top: 20px;
}

.user-form-container .btn:hover {
  color: black;
  opacity: 0.8;
}

.file-upload {
  display: flex;
  margin: 30px 30px;
  justify-content: space-between;
}


