<div class="container mx-auto text-center">
  <div class="banner">
    <h1>Sneaker Project</h1>
  </div>

  <div class="row mx-auto justify-content-center">
      <% @shoes.each do |shoe| %>

        <div class="card shadow-sm p-3 mb-3 rounded m-3" style="width: 20rem;">
          <div class="card-img-top">

          </div>
          <div class="card-body">
            <h5 class="card-title"><%= shoe.shoe_type %></h5>
            <p class="card-text">Ipsum Lorem</p>
            <%= link_to "More", shoes_new_path, class: "btn btn-primary" %>
          </div>
          <div>
            <ul class="social">
              <li><i class="far fa-thumbs-up"></i></li>
              <li><%= shoe.votes %></li>
              <li></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>

