<!-- nav bar -->
<%= render "devise/shared/navbar" %>

  <div class="inside-banner mx-auto justify-content-center" >
    <h1>Sneaker Project</h1>
  </div>

  <div class="row mx-auto justify-content-center">
      <% @shoes.each do |shoe| %>

        <div class="shoes-cards" style="width: 20rem;">
          <div class="card-img-top">
            <img src="" alt="">
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= shoe.shoe_type %></h5>
            <p class="card-text">Ipsum Lorem</p>
            <div class="btn-shoes-cards">
              <%= link_to "+", shoes_new_path %>
            </div>
          </div>
          <div>
            <ul class="social">
              <li><i class="far fa-thumbs-up"></i></li>
              <li><%= shoe.votes %></li>
              <li></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>

